html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none!important;
    margin-top: 10px;
}

.upload{
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #292b2c;
    padding: 2px;
}

.input{
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    letter-spacing: 2px;
}

.table{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: #292b2c;
}

.table-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: white;
}

body{
    background: #3399ff;
  }
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  .shade3{
    opacity: 0.7;
  }
  .shade4{
    opacity: 0.8;
  }
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  
  